*.class
*.ear
*.log
*.jar
*.war

.DS_Store
.mtj.tmp/
.idea/
.settings/
.vscode/

hs_err_pid*
idToken.txt
node_modules/
target/
test-config-local.json
set-aws-tokens-config.json

person.json
trust.json
company.json
otherEntity.json
smsf.json
billableTrust.json
billableCompany.json
relationship.json